{% extends 'base.html.twig' %}

{% block title %}Edit Hiking{% endblock %}

{% block body %}
    <h1>Edit Hiking</h1>

    {{ include('hiking/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('hiking_index') }}">back to list</a>

    {{ include('hiking/_delete_form.html.twig') }}
{% endblock %}
